.details {
  background-color: var(--dark-blue);
}

.details .days {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.5rem;
}

.day {
  background-color: var(--blue);
  padding: 1rem;
  text-align: center;
}

.day .weather-icon {
  width: 4rem;
  margin: 1rem 0 1.5rem;
}

.day .temperature {
  display: inline;
}

.day .temperature span {
  vertical-align: middle;
}

.day .temperature + .temperature {
  margin-left: 1rem;
  color: var(--gray-two);
}
