:root {
  --blue: #1e213a;
  --dark-blue: #100e1d;
  --light-blue: #3c47e9;
  --gray: #e7e7eb;
  --gray-two: #a09fb1;
  --gray-three: #88869d;
  --gray-four: #616475;
  --yellow: #ffec65;
  --desktop-size: 1000px;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

#root {
  background-color: var(--dark-blue);
  color: var(--gray);
  overflow-y: scroll;
  height: 100vh;
}

.material-icons {
  vertical-align: bottom;
}

button {
  cursor: pointer;
}
